@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,700;1,100;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    
}
body{
    background: url(../AssetDev/bg/bgQuizz.svg) no-repeat;
    max-width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;

}
img{
    max-width: 100%;
    height: auto;
}
 section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 520px;
}
h1,label{
    color: white;
}
form{
    width: 80%;
}
.input{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.genreButton{
    background-color: white;
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 36px;
    color: lightgrey;
}

input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
  }

.choiceContainer{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.choixGenre{
      background-color: white;
      padding: 6px 25px;
      color: lightgrey;
      border-radius: 39px;
      cursor: pointer;    
  }
#size_1,#size_2{
    display: none;
}
  input[type="radio"]:checked + label{
    border: 2px solid #CC6F80;
    color:#CC6F80;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
  }
.input input{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 36px;
    margin-top: 8px;
}
input:focus {
    border: 2px solid rgba(133, 133, 133,0.4);
    outline: none;
    
}
.buttonContainer{
    display: flex;
}
button{
    border: none;
    background: none;
    margin: 40px auto;
    text-align: center;
}

button a{
    font-weight: 600;
    font-size: 20px ;
    text-decoration: none;
    color: #CC6F80 ;
    background-color: white;
    border: none;
    border-radius: 26px;
    margin-top: 80px;
    padding: 10px 80px;
    font-size: 15px;
    
}
button a:hover {
    background-color: #F7D8D7;  
    color: white;
}